* , html, body{
    margin: 0;
    padding: 0;
}

header {
    background-color: deepskyblue;
    height: 112px;
    line-height: 112px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav {
    float: right;
}

.logo img{
margin-top: 300px;
}

header nav ul li a{
    padding-right: 30px;
}